.curso {
    background-color: rgb(0, 149, 255);
    display: inline-block;
    vertical-align: top;
    font-family: Verdana, sans-serif;
    border: solid 1px #CCC;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    width: 260px;
    height: 300px;
    padding: 5px;
    margin: 5px 20px
}

.curso img {
    width: 100%;
    max-height: 50%;
}

.curso-info {
    padding: 10px;
    height: 90px;
    overflow: hidden;
}

.curso-info h4 {
    font-size: 1.4em;
    font-weight: 100;
    margin: 0px;
}

.curso-preco {
    float: right;
    padding: 10px;
}

.preco-de {
    text-decoration: line-through;
    color: rgb(166, 4, 4);
}

.preco-por {
    font-size: 25px;
    color: green;
    font-weight: bold;
}
